@import ../../theme/index

$sliderSize: 25px

.wrapper
  min-width: 260px
  width: 100%
  @include respond(tablet)
    width: 100%
    text-align: center

.slider
  width: 100%
  height: $sliderSize
  position: relative

.handle
  $size: $sliderSize
  width: $size / 10
  height: $size
  background-color: $pink
  display: block
  position: absolute
  top: 0

$barBg: transparent
.bar
  $size: $sliderSize
  display: block
  height: $size
  background-color: transparent
  top: 0
  $offsetY: 0
  $offsetX: 1px
  // main bar
  &-1
    @extend .bar
    z-index: 10
    height: $size
    background-color: $pink
    // left bar
  &-0
    @extend .bar
    height: $size
    background-color: $barBg
    border: 1px solid $gray9b
  // right bar
  &-2
    @extend .bar
    height: $size
    background-color: $barBg
    border: 1px solid $gray9b

.title
  font-size: inherit
  color: inherit
  margin-bottom: 15px
  &__from, &__before
    width: 70px
    background-color: transparent
    border: 0
    outline: 0
    margin-left: 5px
    margin-right: 5px
    font-size: inherit
    color: inherit
  //&__before
  //  width: 70px
