@import ../../theme/index

.input
  width: 100%
  background-color: #ffffff
  border: none
  outline: none
  padding: 15px 20px
  margin: 2px 0
  font-size: 18px
  display: block
  box-sizing: border-box
  border-radius: 4px
  color: $text
  appearance: none
  box-shadow: none
  font-family: $font
  transition: opacity $animParams
  @include placeholder
    font-size: 18px
    font-weight: 300
    color: #9c9c9c
  &:hover
    opacity: .7
  &:focus
    opacity: 1 !important

textarea.input
  max-width: 100%
  min-height: 162px
  max-height: 300px
  resize: none

.disabled
  opacity: .4 !important

.transparent
  color: #ffffff
  background-color: transparent
  border: 1px solid #ffffff
