@import ../../theme/index

.header
  padding: 20px 0

.buttons
  padding-top: 150px
  @include respond(mobile)
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start

.more
  user-select: none
  cursor: pointer
  @include opacityAnim(.7)
  @include respond(mobile)
    margin-top: 20px

.base__wrapper
  display: block
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 99
  @include respond(mobile)
    position: static

.base__container
  @include respond(mobile)
    width: 100%

.base
  background-color: #fff
  margin-top: 50px
  @include respond(mobile)
    margin-top: 20px

.map
  position: relative
