@import ../../theme/index

.reset
  display: inline-block
  border: none
  font-family: $font
  cursor: pointer
  outline: none
  font-size: 18px
  box-sizing: border-box
  position: relative
  background-color: transparent
  user-select: none

.btn
  @extend .reset
  border: 2px solid $black
  padding: 10px 25px
  margin-top: 10px
  border-radius: 6px
  cursor: pointer
  transition: background $animParams, color $animParams, fill $animParams, box-shadow $animParams, opacity $animParams
  box-shadow: none
  color: $text
  &[disabled]
    opacity: .7 !important

  &:hover
    color: #fff
    background-color: $black

.min
  font-size: 14px !important
  padding: 7px 10px !important

.text
  @extend .btn
  border: none
  background-color: transparent
  color: $text
  &:hover
    border: none
    color: $text
    opacity: .7
    background-color: transparent


.light
  @extend .btn
  color: $text
  border-color: #e2e2e2
  &:hover
    //color: $title
    background-color: #e2e2e2

.white
  @extend .btn
  color: #ffffff
  border-color: #FFFFFF
  &:hover
    color: $title
    background-color: #FFFFFF

.transparent
  @extend .btn
  color: $main
  border-color: $main
  &:hover
    color: #ffffff
    background-color: $main

.color
  @extend .btn
  background-color: $main
  color: #ffffff
  border-color: $main
  transition: border $animParams, background $animParams
  &:hover
    border-color: #fff
    background-color: lighten($main, 20%)

.green
  @extend .btn
  color: #ffffff
  border-color: $green
  background-color: $green
  &:hover
    color: #ffffff
    background-color: $green
    box-shadow: $shadow

.gold
  @extend .btn
  color: #ffffff
  border-color: $gold
  background-color: $gold
  &:hover
    color: #ffffff
    background-color: $gold
    box-shadow: $shadow

.gold-empty
  @extend .btn
  color: $gold
  border-color: $gold
  background-color: transparent
  &:hover
    color: #ffffff
    border-color: $gold
    background-color: $gold

.pink
  @extend .btn
  color: #fff
  background-color: $pink
  border-color: $pink
  &:hover
    background-color: $pink
    box-shadow: $shadow

.purple
  @extend .btn
  color: $purple
  border-color: $purple
  &:hover
    color: #fff
    background-color: $purple
.blue
  @extend .btn
  color: #fff
  background-color: $blue
  border-color: $blue
  &:hover
    background-color: $blue
    box-shadow: $shadow

.blue-empty
  @extend .btn
  color: $blue
  border-color: $blue
  background-color: transparent
  &:hover
    color: #ffffff
    border-color: $blue
    background-color: $blue

.bright-blue-empty
  @extend .btn
  color: $bright-blue
  border-color: $bright-blue
  background-color: transparent
  &:hover
    color: #ffffff
    border-color: $bright-blue
    background-color: $bright-blue

.gray
  @extend .btn
  color: $gray9b
  background-color: $gray9b
  border-color: $gray9b
  &:hover
    color: $gray9b
    background-color: $gray9b
    box-shadow: $shadow
  &[disabled]
    cursor: not-allowed !important
    color: $gray9b !important
    background-color: transparent !important


.filter
  display: inline-block
  border-radius: 100px
  background-color: #eeeeee
  color: #000
  font-size: 19px
  text-align: center
  padding: 8px 20px
  transition: .15s
  margin-bottom: 20px
  margin-left: 30px
  @include respond(768px)
    margin-left: 0
    margin-right: 15px
  &:first-child
    margin-left: 0
  &:hover
    background-color: #4990e2
    color: $white

//.orange
//  @extend .btn
//  color: $orange
//  border-color: $orange
//  &:hover
//    color: #fff
//    background-color: $orange


.loading
  .loader
    $size: auto
    width: $size !important
    height: $size !important
    padding: 10px
    border-radius: 50%


.link
  @extend .reset
  margin: 0
  padding: 0

.rounded
  border-radius: 50px !important
.smallPadding
  padding: 8px 20px
.nooffsets
  margin: 0 !important
