@import ../../theme/index

.row
  width: 100%
  margin-top: 31px
  &_head
    .item
      color: $gray9b
.item
  text-align: center
  width: 25%
  color: #000
  font-weight: normal
  &:first-child
    text-align: left
  &:last-child
    text-align: right
