@import ../../theme/index

.wrapper
  padding: 100px 0 90px
  position: relative

.container
  @include respond(mobile)
    flex-wrap: wrap
.content
  width: 30%
  position: relative
  @include respond(mobile)
    width: 100%
    height: auto !important

.title
  padding-top: 0
  padding-bottom: 7px

.text
  max-width: 80%

.grid
  position: absolute
  left: 0
  top: 0
  width: 90vw
  @include respond(mobile)
    position: static
    width: 100% !important
  &__wrapper
    position: relative

.btn
  border-top: 1px solid #DDDDDD
  padding-top: 18px
  position: absolute
  left: 0
  bottom: 0
  @include respond(mobile)
    position: static
    margin: 20px 0
