@import ../../theme/index

.text
  font-weight: 300
  letter-spacing: -.003em
  color: $text
  fill: $text
  margin: 0
  padding: 0

.size-1
  @extend .text
  font-size: 28px
  line-height: 32px
  @include respond(mobile)
    font-size: 24px
    line-height: 32px
.size-2
  @extend .text
  font-size: 24px
  line-height: 32px
  @include respond(mobile)
    font-size: 21px
    line-height: 30px
.size-3
  @extend .text
  font-size: 21px
  line-height: 30px
  padding: 21px 0 0
  @include respond(mobile)
    font-size: 18px
    line-height: 1.58
    letter-spacing: -.004em
    padding-top: 10px
.size-4
  @extend .text
  font-size: 18px
  line-height: 28px
  padding: 21px 0 0
  @include respond(mobile)
    font-size: 16px
    line-height: 24px
.size-5
  @extend .text
  font-size: 16px
  line-height: 24px
  @include respond(mobile)
    font-size: 14px
    line-height: 22px

.size-6
  @extend .text
  font-size: 14px
  line-height: 22px
  @include respond(mobile)
    font-size: 12px
    line-height: 18px

.regular
  font-weight: normal
.bold
  font-weight: bold
.light
  font-weight: 300
.lightColor
  $color: #4A4A4A
  color: $color
  fill: $color

.gray
  $color: #999999
  color: $color
  fill: $color

.lightGray
  $color: #666666
  color: $color
  fill: $color
.center
  text-align: center
.white
  color: #ffffff
.transparent
  opacity: 0.5
