@import ../../theme/index

$offset: 13px

.noborder
  border: none !important

.item
  width: 21.25%
  min-height: 100px
  padding: 10px 15px
  margin: $offset 0
  border-right: 1px solid #979797
  &:last-child
    border-right: none
    width: 15%
  @include respond(mobile)
    width: 100% !important
    border-right: none
  &__icon
    @include size(30px)
    margin: 22px 0
  &__title
    padding: 0
  &__content
    margin: 0
    padding: 0
