@import ../../theme/index

.input
  box-sizing: border-box
  display: block
  outline: none
  border: none
  box-shadow: none
  font-size: inherit
  line-height: inherit
  font-weight: inherit
  width: 100%
  color: inherit

textarea.input
  min-width: 100%
  max-width: 100%
  min-height: 100px

.focus
  border-bottom: 1px solid transparent
  transition: border $animParams
  &:focus
    border-bottom: 1px solid #eaeaea
