@import "../../theme/index"

$offset: 5%

.grid
  @include respond(mobile)
    flex-wrap: wrap

.item
  width: 50% - $offset
  @include respond(mobile)
    width: 100% !important

.info
  @extend .item
.data
  @extend .item

.content
  padding: 100px 0
  @include respond(mobile)
    padding: 50px 0
