@import ../../theme/index

.wrapper
  width: 100%
  height: 100%
  position: relative

.frame
  @include absolute_init(full, 0)

.slide
  @include absolute_init(full, 0)
  background-color: transparent
  opacity: 0
  display: none
  overflow: hidden

.nav
  position: absolute
  z-index: 10
  left: 50%
  bottom: 26px
  transform: translateX(-50%)
  &__item
    @include size(10px)
    margin: 5px 7px
    background-color: #fff
    opacity: .25
    @include opacityAnim(.7)
    border-radius: 50%
    cursor: pointer
    user-select: none
    &_active
      opacity: 1 !important

.controls
  position: static
.control
  position: absolute
  top: 0
  height: 100%
  width: 20%
  z-index: 5
  transition: opacity $animParams
  opacity: 0
  cursor: pointer
  user-select: none
  background-color: rgba(255,255,255,0.3)
  fill: #fff
  &:hover
    opacity: 1
  svg
    @include absolute_center(normal, 0)
    @include size(40px)

  &_prev
    @extend .control
    left: 0
    svg
      transform: translate(-50%, -50%) rotateZ(180deg)
  &_next
    @extend .control
    right: 0



