@import ../../theme/index

$staticWidth: 48%

.wrapper
  position: relative
  width: 100%

.static
  position: fixed
  left: 0
  top: 0
  width: $staticWidth
  height: 100%
  background-color: #ddd

.scroller
  position: relative
  margin-left: 50%
  width: 50%

.container
  width: 80%
  max-width: $containerPX / 2
  margin-right: auto
  margin-left: 60px
